.button {
  box-sizing: border-box;
  display: block;
  width: 260px;
  padding: 14px 20px;

  font-family: $bold;
  text-align: center;
  color: $second-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $second-color;

  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 1);

    background-color: $second-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 230px;
  }
}
