.feedbacks {
  padding-top: 13px;
  padding-bottom: 51px;
}

.feedbacks__container {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -66px;

    width: 100%;
    height: 23px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.feedbacks__title {
  margin: 0 0 24px;
}

.feedbacks__list {
  margin: 0 0 30px;
  padding: 0;

  list-style: none;
}

.feedbacks__text {
  margin: 0 0 28px;

  color: $second-color;
  line-height: 30px;
}

.feedbacks__author {
  margin: 0;

  font-family: $bold;
  font-size: 17px;
}

.feedbacks__link {
  display: block;
  margin-top: 2px;

  font-size: $regular;
  line-height: 30px;
  color: $second-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: rgba(98, 209, 186, 1);
  }

  &:active {
    color: rgba(98, 209, 186, 0.3);
  }
}

.feedbacks__arrow-buttons {
  width: 260px;
  margin-bottom: 38px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .feedbacks {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .feedbacks__container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 77px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      bottom: -108px;

      width: 768px;
    }
  }

  .feedbacks__title {
    margin: 0 0 49px -5px;
    order: 0;
  }

  .feedbacks__list {
    width: 100%;
    order: 2;
  }

  .feedbacks__text {
    margin: 0 0 56px;

    font-size: 17px;
  }

  .feedbacks__author {
    margin: 0 0 4px;

    font-family: $bold;
    font-size: 18px;
    line-height: 24px;
  }

  .feedbacks__link {
    font-size: 17px;
  }

  .feedbacks__arrow-buttons {
    position: absolute;
    right: 50px;
    bottom: 34px;

    width: 175px;
    margin-bottom: 0;
  }

  .feedbacks__button {
    width: 175px;
    margin-top: 2px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .feedbacks {
    padding: 0;

    background: none;
  }

  .feedbacks__container {
    padding-top: 71px;
    padding-bottom: 158px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50px 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      left: 50px;
      bottom: 0px;
      width: 1050px;
    }
  }

  .feedbacks__title {
    margin-left: 171px;
  }

  .feedbacks__list {
    width: 790px;
    margin-left: 175px;
  }

  .feedbacks__text {
    margin-bottom: 38px;

    line-height: 30px;
  }

  .feedbacks__author {
    font-size: 17px;
  }

  .feedbacks__link {
    font-size: 17px;
    line-height: 30px;
  }

  .feedbacks__button {
    margin-top: 8px;
  }

  .feedbacks__arrow-buttons {
    bottom: 193px;
  }
}
