.form__label {
  position: relative;
}

.form__radio:hover + .form__radio-pseudo,
.form__radio:focus + .form__radio-pseudo,
.form__checkbox:hover + .form__checkbox-pseudo,
.form__checkbox:focus + .form__checkbox-pseudo {
  border-color: #62d1ba;
}

.form__label:active .form__radio-pseudo,
.form__label:active .form__checkbox-pseudo {
  border-color: rgba(0, 0, 0, 0.3);
}

.form__part-header {
  position: relative;

  display: flex;

  font-family: $bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__part-name {
  padding-right: 26px;
}

.form__header-line {
  width: 1px;
  height: 1px;
  margin-top: 7px;
  flex-grow: 1;

  background-color: #62d1ba;
}

.form__options-list {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  font-family: $bold;

  list-style: none;
}

.form__data-field {
  width: 100%;
  padding: 13px 0 17px;

  font-family: $regular;
  font-size: 17px;
  line-height: 18px;
  color: $second-color;

  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;

  &:focus,
  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

.form__data-field:focus + .form__icon,
.form__data-field:hover + .form__icon,
.form__data-field:active + .form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__part--type {
  margin-bottom: 45px;
}

.form__part--type .form__part-header {
  margin: 0 0 33px;
}

.form__part--type .form__options-item {
  margin-bottom: 24px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio-pseudo {
  position: absolute;
  top: -6px;
  left: -62px;

  display: block;
  width: 34px;
  height: 34px;

  border: 3px solid #000000;
  border-radius: 50%;
}

.form__radio:checked + .form__radio-pseudo::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 9px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border-radius: 50%;
}

.form__part--color {
  margin-bottom: 43px;
}

.form__part--color .form__part-header {
  margin: 0 0 35px;
}

.form__part--color .form__options-item {
  margin-bottom: 43px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__part--color .form__checkbox-pseudo {
  position: absolute;
  top: -8px;
  left: -62px;

  display: block;
  width: 36px;
  height: 35px;

  border: 2px solid #000000;
}

.form__part--color .form__checkbox:checked + .form__checkbox-pseudo::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 6px;

  width: 36px;
  height: 35px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 22px;
}

.form__part--name {
  margin-bottom: 33px;
}

.form__part--name .form__part-header {
  margin: 0 0 29px;
}

.form__row {
  &--phone,
  &--email {
    position: relative;
  }
}

.form__icon {
  position: absolute;

  opacity: 0.2;

  &--phone {
    top: 33px;
    right: 8px;

    width: 25px;
    height: 24px;
  }

  &--mail {
    top: 33px;
    right: 4px;

    width: 32px;
    height: 32px;
  }
}

.form__part--name .form__row {
  margin: 0 0 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__part--name .form__label {
  display: block;

  font-size: 17px;
  line-height: 18px;
  font-family: $bold;
}

.form__part--contacts {
  margin-bottom: 33px;
}

.form__part--contacts .form__part-header {
  margin: 0 0 8px;
}

.form__part--contacts .form__row {
  margin: 0 0 33px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__part--additional {
  margin-bottom: 11px;
}

.form__part--additional .form__part-header {
  margin: 0 0 25px;
}

.form__wishes {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 15px;

  font-family: $regular;
  font-size: 17px;
  line-height: 18px;
  color: $second-color;

  border: 2px solid #000000;

  &:focus,
  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

.form__notice {
  display: block;
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
  color: $second-color;
}

@media (min-width: $tablet-width) {
  .form__part {
    width: 100%;
  }

  .form__part-container {
    display: flex;
    flex-wrap: wrap;
  }

  .form__header-line {
    display: none;
  }

  .form__options-list {
    margin: 0 0 0 auto;
    padding: 0;

    font-size: 19px;
    line-height: 18px;
    font-family: $bold;

    list-style: none;
  }

  .form__part--type {
    margin-bottom: 0;
    padding: 49px 0 69px;
  }

  .form__part--type .form__part-header {
    margin: 3px 0 0;
  }

  .form__part--type .form__options-list {
    width: 500px;
  }

  .form__part--type .form__options-item {
    margin-bottom: 58px;
    padding-left: 79px;
  }

  .form__part--type .form__radio-pseudo {
    top: -11px;
    left: -80px;

    width: 48px;
    height: 48px;

    border: 2px solid #000000;
  }

  .form__part--type .form__radio:checked + .form__radio-pseudo::after {
    top: 13px;
    left: 13px;

    width: 22px;
    height: 22px;
  }

  .form__part--color {
    margin-bottom: 0;
    padding: 65px 0 11px;

    background-color: #f1f1f1;
  }

  .form__part--color .form__part-container {
    display: flex;
  }

  .form__part--color .form__part-header {
    margin: 3px 0 0;
  }

  .form__part--color .form__options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
  }

  .form__part--color .form__options-item {
    box-sizing: border-box;
    width: 238px;
    margin-bottom: 58px;
    padding-left: 80px;
  }

  .form__part--color .form__checkbox-pseudo {
    top: -11px;
    left: -81px;

    width: 50px;
    height: 48px;
  }

  .form__part--color .form__checkbox:checked + .form__checkbox-pseudo::after {
    top: 14px;
    left: 9px;

    width: 33px;
    height: 22px;

    background-size: 33px;
  }

  .form__part--name {
    margin-bottom: 0;
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .form__part--name .form__part-header {
    margin: 3px 0 0;
  }

  .form__part--name .form__rows {
    width: 500px;
    margin-left: auto;
  }

  .form__part--name .form__row {
    display: flex;
    margin-bottom: 39px;
  }

  .form__part--name .form__label {
    font-size: 19px;
  }

  .form__part--name .form__data-field {
    margin-top: -13px;
    margin-left: 24px;
    padding: 9px 0 13px 16px;

    font-size: 19px;
  }

  .form__part--contacts {
    margin-bottom: 0;
    padding-top: 68px;
    padding-bottom: 50px;

    background-color: #f1f1f1;
  }

  .form__part--contacts .form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 42px;
  }

  .form__icon {
    &--phone {
      top: -7px;
      right: 26px;
    }

    &--mail {
      top: -7px;
      right: 22px;
    }
  }

  .form__part--contacts .form__part-header {
    margin: 0;
  }

  .form__part--contacts .form__data-field {
    box-sizing: border-box;
    width: 500px;
    margin-top: -9px;
    padding: 2px 77px 13px 15px;

    font-size: 19px;
  }

  .form__part--additional {
    padding-top: 50px;
    padding-bottom: 53px;
    margin-bottom: 0;
  }

  .form__part--additional .form__part-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__part--additional .form__part-header {
    margin: 18px 0 0;
  }

  .form__wishes {
    width: 500px;
    padding: 15px;
  }

  .form__bottom-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__notice {
    margin-top: 9px;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__part .form__part-header {
    margin-left: 63px;
  }

  .form__part .form__options-list {
    width: 875px;
  }

  .form__part--color .form__options-list {
    justify-content: flex-start;
  }

  .form__part--color .form__options-item {
    width: 264px;
  }

  .form__part--name .form__rows {
    width: 700px;
    margin-right: 175px;
  }

  .form__part--name .form__row {
    margin-bottom: 40px;
  }

  .form__part--name .form__data-field {
    padding: 9px 0 12px 16px;
  }

  .form__part--contacts .form__data-field {
    width: 700px;
    margin-right: 175px;
  }

  .form__icon {
    &--phone {
      top: -7px;
      right: 183px;
    }

    &--mail {
      top: -7px;
      right: 179px;
    }
  }

  .form__part--additional {
    padding-bottom: 49px;
  }

  .form__part--additional .form__wishes {
    width: 700px;
    margin-right: 175px;
  }

  .form__bottom-container .form__submit-button {
    margin-left: 175px;
  }

  .form__bottom-container .form__notice {
    margin-right: 175px;
  }
}
