.main-nav__logo {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__news-list {
  margin: 0;
  padding: 0;

  display: none;

  list-style: none;
}

.main-nav__pages-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__delivery-label {
  display: none;
}

.main-nav__user-interface {
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-nav__toggle {
  position: absolute;
  right: 30px;
  top: 32px;

  padding: 0;
  width: 20px;
  height: 14px;

  border: none;
  background: none;

  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.main-nav--closed .main-nav__toggle-line {
  display: block;
  width: 20px;
  height: 2px;

  background-color: #000000;
}

.main-nav--opened .main-nav__toggle-line {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__pages-list {
    display: none;
  }

  .main-nav--closed .main-nav__user-interface {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
    width: 14px;
    height: 20px;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-nav__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 41%;
    padding: 0 0 0 50px;
    order: 0;

    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__logo-image {
    display: block;
    width: 112px;
    height: 46px;
  }

  .main-nav__user-interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
    order: 1;
    width: 30%;

    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__pages-list {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-top: 16px;
    margin-right: auto;
    padding-left: 50px;
    order: 2;
    flex-grow: 1;
  }

  .main-nav__delivery-label {
    display: block;
    width: 33%;
    margin-top: 16px;
    padding-right: 50px;
    order: 3;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: center;
  }

  .main-nav__logo {
    padding-left: 0;
    width: 149px;
    order: 1;
  }

  .main-nav__pages-list {
    box-sizing: border-box;
    width: 40%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 45px;
    justify-content: flex-end;
    align-items: stretch;
    order: 0;
    flex-grow: 1;

    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__user-interface {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 100px;
    width: 40%;
    flex-grow: 1;
    order: 2;
  }

  .main-nav__news-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    width: 525px;
    order: 3;

    list-style: none;
  }

  .main-nav__delivery-label {
    padding-right: 0;
    order: 4;
    display: block;
    width: 525px;

    text-align: right;
  }
}
