.manufacture {
  padding-top: 17px;
  padding-bottom: 57px;
}

.manufacture__header-text {
  position: relative;

  display: block;
  padding-left: 56px;
  margin: 0 0 23px;

  font-family: $bold;
  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.manufacture__item {
  &:focus,
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.manufacture__info {
  padding: 23px 33px 32px 33px;

  border: 1px solid #ececec;
}

.manufacture__video-container {
  position: relative;

  width: 260px;
  margin: 0 -34px 27px;
}

.manufacture__video {
  display: block;
  width: 260px;
  height: 150px;
}

.manufacture__video-play-button {
  position: absolute;
  top: 37px;
  left: 79px;

  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.manufacture__video-play-button:focus .manufacture__vadeo-play-icon,
.manufacture__video-play-button:hover .manufacture__vadeo-play-icon {
  transform: scale(1.2);
}

.manufacture__video-play-button:active .manufacture__vadeo-play-icon {
  opacity: 0.3;

  transform: scale(0.8);
}

.manufacture__intro-text {
  margin: 0 0 50px;
  width: 200px;

  color: $second-color;
  font-size: 13px;
  line-height: 24px;
}

.manufacture__button {
  width: 192px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .manufacture {
    padding-top: 28px;
    padding-bottom: 62px;
  }

  .manufacture__item {
    position: relative;

    padding-top: 455px;
  }

  .manufacture__info {
    padding: 37px 40px 46px;
  }

  .manufacture__video-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 668px;
    height: 455px;
    margin: 0;
  }

  .manufacture__video {
    width: 668px;
    height: 455px;
  }

  .manufacture__video-play-button {
    top: 189px;
    left: 283px;
  }

  .manufacture__header-text {
    margin-bottom: 32px;
    padding-left: 65px;
    padding-bottom: 0;

    font-family: $bold;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -4px;
      left: 1px;
    }
  }

  .manufacture__intro-text {
    margin: 0 0 36px;
    width: auto;

    color: $second-color;
    font-size: 15px;
    line-height: 30px;
  }

  .manufacture__button {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .manufacture {
    padding-bottom: 105px;
  }

  .manufacture__item {
    padding-top: 0;
  }

  .manufacture__info {
    box-sizing: border-box;
    min-height: 455px;
    width: 368px;
    margin-left: auto;
    padding: 95px 10px 46px 77px;
  }

  .manufacture__header-text {
    width: 230px;
    padding-left: 0;

    &::before {
      top: -55px;
      left: 2px;
    }
  }

  .manufacture__intro-text {
    margin: 0 0 47px;
  }

  .manufacture__video-container {
    width: 682px;
    height: 455px;
  }

  .manufacture__video {
    width: 682px;
    height: 455px;
  }

  .manufacture__video-play-button {
    left: 291px;
  }

  .manufacture__button {
    width: 230px;
    margin-left: 0;
  }
}
