.order {
  padding-top: 22px;
  padding-bottom: 55px;
}

.order__preview {
  margin: 0 0 25px;

  font-size: 13px;
  color: $second-color;
}

@media (min-width: $tablet-width) {
  .order {
    padding-top: 73px;
    padding-bottom: 50px;
  }

  .order__preview {
    margin: 0 0 23px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding-top: 120px;
  }

  .order__preview {
    width: 700px;
    margin-left: 175px;
  }
}
