.page-footer {
  width: 100%;

  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  padding: 22px 0;

  text-align: center;
}

.page-footer__copyright-link {
  color: $main-color;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-link:hover .page-footer__copyright-icon-logo,
.page-footer__copyright-link:focus .page-footer__copyright-icon-logo {
  fill: #46c1ae;
}

.page-footer__copyright-icon-logo {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 25px;

  fill: #63d1bb;
}

.page-footer__social {
  margin: 0;
  padding: 24px 0;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 143px;
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 30%;
    margin-top: 51px;
  }

  .page-footer__logo-image {
    margin-right: auto;
    width: 102px;
    height: 34px;

    cursor: pointer;

    &:focus,
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    width: 30%;
    margin-top: 57px;
    padding: 0;

    border-bottom: none;
  }

  .page-footer__copyright {
    width: 30%;
    margin-top: 57px;
    padding: 0;
    display: flex;
  }

  .page-footer__copyright-link {
    margin-left: auto;
  }

  .page-footer__copyright-icon-logo {
    margin-left: 25px;
  }
}
