.wares {
  margin: 0;
  padding: 0;

  width: 260px;

  list-style: none;
}

.wares__item {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.wares__item:focus .wares__item-info,
.wares__item:hover .wares__item-info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.wares__item:active .wares__item-info {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.wares__item-photo {
  display: block;
  width: 260px;
  height: 195px;
}

.wares__item-info {
  padding: 0 27px;

  border: 1px solid #ededed;
}

.wares__item-description {
  padding: 26px 0 19px;
}

.wares__item-name {
  margin: 0;
  margin-bottom: 5px;

  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.wares__item-parameters {
  margin: 0;

  color: $second-color;
  font-size: 13px;
  line-height: 30px;
}

.wares__item-buying {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 21px 0 27px;

  color: $main-color;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  border-top: 1px solid #ececec;
}

.wares__buy-icon {
  opacity: 0.2;

  &:focus,
  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
    fill: #63d1bb;
  }
}

.wares-item__price {
  font-family: $bold;
}

.wares__item-buy {
  position: relative;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .wares {
    width: 100%;
  }

  .wares__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  .wares__item-photo {
    width: 334px;
    height: 334px;
  }

  .wares__item-info {
    width: 250px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 27px;
  }

  .wares__item-name {
    margin-bottom: 4px;

    font-size: 20px;
  }

  .wares__item-parameters {
    font-size: 15px;
  }

  .wares__item-description {
    width: 100%;
  }

  .wares__item-buying {
    width: 100%;
    margin-top: auto;
  }

  .wares__item-price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .wares {
    display: flex;
    flex-wrap: wrap;
  }

  .wares__item {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .wares__item-info {
    min-height: 0;
    width: 260px;
  }

  .wares__item-photo-container {
    width: 316px;
    height: 462px;
  }

  .wares__item-photo {
    width: 316px;
    height: 462px;
  }

  .wares__item-description {
    padding: 25px 0 14px;
  }

  .wares__item-name {
    font-size: 20px;
    line-height: 24px;
  }

  .wares__item-parameters {
    font-size: 15px;
  }

  .wares__item-buying {
    padding: 23px 0;
  }

  .wares__item-price {
    font-size: 17px;
  }
}
