.about-us {
  padding: 26px 0 13px;
}

.about-us__title {
  margin: 0 0 32px;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 49px 0 28px;
  }

  .about-us__title {
    margin-bottom: 50px;
    margin-left: -5px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding: 62px 0 35px;
  }

  .about-us__title {
    margin-bottom: 49px;
  }

  .about-us__container {
    width: 700px;
  }
}
