.about-us {
  padding: 28px 0;
}

.about-us__title {
  margin: 0;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .about-us__title {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__container {
    width: 700px;
  }
}
