.advantages {
  margin: 0;
  padding: 0;
  width: 260px;

  list-style: none;
}

.advantages__item {
  position: relative;

  width: 260px;
  margin-bottom: 32px;
  padding-top: 55px;

  color: $main-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";

    position: absolute;
    top: 0;

    background-repeat: no-repeat;
  }

  &--eco::before {
    left: 9px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
    background-position: 0 0;
  }

  &--style::before {
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 0;
  }

  &--likes::before {
    left: 8px;

    width: 33px;
    height: 28px;

    background-image: url("../img/icon-feature-heart.svg");
    background-position: 0 0;
  }

  &--emotions::before {
    left: 3px;

    width: 34px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
    background-position: 0 0;
  }

  &--maker::before {
    left: -6px;

    width: 54px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0 0;
  }

  &--pack::before {
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 300px;

    &--eco {
      order: 0;
    }

    &--style {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--emotions {
      order: 1;
    }

    &--maker {
      order: 3;
    }

    &--pack {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 700px;
  }

  .advantages__item {
    width: 350px;
  }
}
