.button {
  box-sizing: border-box;
  display: block;
  vertical-align: middle;
  width: 260px;
  padding: 14px 20px;

  font-family: $bold;
  text-align: center;
  color: $second-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $second-color;
}

@media (min-width: $tablet-width) {
  width: 230px;
}
