.contacts {
  padding-top: 35px;
  padding-bottom: 39px;
}

.contacts__title {
  margin: 0 0 23px;

  font-family: $bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin-bottom: 40px;

  line-height: 30px;
  color: $second-color;
}

.contacts__row {
  display: inline-block;
  margin-bottom: 24px;
  vertical-align: top;
}

.contacts__type {
  width: 50px;
  padding: 0;
}

.contacts__info {
  padding: 0 0 0 20px;

  &--link {
    display: block;

    color: $second-color;
    border-bottom: 1px solid #62d1ba;
  }
}

.contacts__map-container {
  width: 320px;
  margin-left: -30px;
  margin-bottom:39px;
}

.contacts__map-image {
  display: block;
  width: 322px;
  height: 457px;
}

.contacts__button {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 85px;
    padding-bottom: 57px;
  }

  .contacts__title {
    margin: 0 0 45px -5px;
    padding: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    font-size: 17px;

    margin-bottom: 52px;
    padding: 0;
  }

  .contacts__row {
    box-sizing: border-box;
    width: 330px;
    margin-left: -3px;
    margin-bottom: 0;
    padding-right: 30px;
  }

  .contacts__type {
    width: 60px;
  }

  .contacts__info {
    padding: 0 0 0 17px;
  }

  .contacts__map-container {
    width: 768px;
    margin-bottom: 55px;
    margin-left: -50px;
  }

  .contacts__map-image {
    display: block;
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    padding-top: 141px;
    padding-bottom: 105px;
  }

  .contacts__container {
    position: relative;

    width: 1050px;
    padding: 0 50px;
  }

  .contacts__title {
    margin-left: 169px;
    margin-bottom: 44px;
    width: 300px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    margin-left: 175px;
    margin-bottom: 49px;
    padding: 0;
    width: 300px;

    font-size: 17px;
  }

  .contacts__row {
    width: 100%;
    margin-bottom: 26px;
    padding-right: 0;
  }

  .contacts__type {
    width: 60px;
  }

  .contacts__info {
    padding: 0 0 0 14px;
  }

  .contacts__map-container {
    position: absolute;
    top: 70px;
    right: 50px;

    width: 525px;
    margin: 0;
  }

  .contacts__button {
    margin-left: 175px;
  }
}
