.main-nav__logo {
  display: none;
}

.main-nav__menu-wrapper {
  width: 320px;
  display: none;
}

.main-nav__toggle {
  width: 14px;
  height: 20px;

  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
    width: 14px;
    height: 20px;
  }

  .main-nav__menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-nav__logo {
    display: flex;
    align-items: center;
    width: 320px;
    height: 89px;
    padding-left: 50px;
    order: 0;

    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__user-interface {
    display: flex;
    width: 398px;
    order: 1;

    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__pages-list {
    margin: 0;
    padding: 0;

    width: 330px;
    margin-top: 16px;
    margin-right: auto;
    padding-left: 50px;
    order: 2;

    list-style: none;
  }

  .main-nav__delivery-label {
    margin-top: 16px;
    padding-right: 50px;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__pages-list {
    order: 0;
  }
}
