.main-nav {
  &__logo {
    display: none;
  }

  &__menu-wrapper {
    width: 320px;
    display: none;
  }

  &__toggle {
    width: 14px;
    height: 20px;

    border: none;

    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    &__toggle {
      display: none;
      width: 14px;
      height: 20px;
    }

    &__menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__logo {
      display: flex;
      align-items: center;
      width: 320px;
      height: 89px;
      padding-left: 50px;
      order: 0;

      background-color: #ffffff;
      border-bottom: 1px solid #e7e7e7;
    }

    &__user-interface {
      display: flex;
      width: 398px;
      order: 1;

      background-color: #ffffff;
      border-bottom: 1px solid #e7e7e7;
    }

    &__pages-list {
      @include list-reset;

      width: 330px;
      margin-top: 16px;
      margin-right: auto;
      padding-left: 50px;
      order: 2;
    }

    &__delivery-label {
      margin-top: 16px;
      padding-right: 50px;
      order: 3;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    &__pages-list {
      order: 0;
    }
  }
}
