.news-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news-list__link {
  color: $main-color;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    width: 525px;
  }

  .news-list__item {
    margin-right: 60px;
  }
}
