.pages-list__link {
  color: $main-color;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .pages-list {
    display: flex;
    width: 330px;
  }

  .pages-list__item {
    margin-right: 35px;
  }
}
