.page-header {
  position: relative;
  z-index: 1;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__main-nav {
  width: 100%;
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    margin-bottom: -41px;

    background-color: transparent;
    border-top: none;
    border-bottom: none;
  }
}
