.pages-list__link {
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
}

.pages-list__link {
  display: block;
  padding: 27px 0 26px 75px;

  color: $main-color;
  font-weight: 700;
  text-decoration: none;

  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .pages-list__link {
    display: inline;
    padding: 0;

    font-family: $bold;
    font-size: 15px;
    color: $main-color;
    font-weight: 700;
    text-decoration: none;

    border-top: none;
  }

  .pages-list {
    display: flex;
  }

  .pages-list__item {
    margin-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .pages-list {
    align-items: stretch;
  }

  .pages-list__item {
    display: flex;
    align-items: center;
    margin-right: 0;

    &:first-child {
      border-right: 1px solid #e7e7e7;
    }
  }

  .pages-list__link {
    display: block;
    padding: 0 37px;

    font-size: 17px;
  }
}
