.parameters {
  color: $second-color;
  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;

  &__parameter {
    padding-top: 6px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .parameters__parameter {
    padding-bottom: 12px;
  }
}
