body {
  position: relative;

  min-width: 320px;
  margin: 0;
  padding: 0;

  color: $main-color;
  font-size: 15px;
  line-height: 24px;
  font-family: $main-font;
  font-style: normal;

  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}
