.social__item {
  margin: 0 20px;
}

.social__link {
  display: block;

  cursor: pointer;

  &--inst {
    margin-top: 6px;
    margin-right: 3px;
  }

  &--tw {
    margin-top: 5px;
    margin-right: 5px;
  }
}

.social__icon {
  &:focus,
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
