.title-header {
  width: 100%;
  min-height: 177px;
  display: flex;
  align-items: center;

  background-color: #f1f1f1;
}

.title-header__heading {
  margin: -6px auto 0;

  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;
  color: $main-color;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .title-header {
    min-height: 225px;
    display: flex;
    align-items: center;
  }

  .title-header__heading {
    width: 700px;
    margin: 17px auto 0;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .title-header {
    min-height: 255px;
  }

  .title-header__heading {
    width: 700px;
    margin: -11px auto 0;

    font-size: 53px;
    line-height: 57px;
  }
}
