$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$main-color: #000000;
$second-color: #444444;
$main-font: "Open Sans", "Arial", "sans-serif";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
