$tablet-width: 768px;
$desktop-width: 1150px;
$main-color: #000000;
$second-color: #444444;
$regular: "Open Sans", "Arial", "sans-serif";
$bold: "Open Sans Bold", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
