.wares {
  margin: 0;
  padding: 0;

  width: 260px;

  list-style-type: none;

  &__item {
    margin-bottom: 30px;
  }

  &__photo {
    width: 260px;
    height: 195px;
  }

  &__item-info {
    padding: 0 27px;

    border: 1px solid #ededed;
  }

  &__item-description {
    padding: 22px 0;
  }

  &__name {
    margin: 0;
    margin-bottom: 7px;

    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

  &__parameters {
    margin: 0;

    color: $second-color;
    font-size: 13px;
    line-height: 30px;
  }

  &__buying {
    margin: 0;
    padding: 20px 0;

    color: $main-color;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;

    border-top: 1px solid #ececec;
  }
}

.wares__buy {
  position: relative;

  text-decoration: none;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    right: 0;

    width: 20px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .wares {
    width: 100%;
  }

  .wares__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .wares__photo {
    width: 334px;
    height: 334px;
  }

  .wares__item-info {
    width: 250px;
    min-height: 332px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .wares__item-description {
    width: 100%;
  }

  .wares__buying {
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .wares {
    display: flex;
    flex-wrap: wrap;
  }

  .wares__item {
    display: block;
    width: 316px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .wares__item-info {
    min-height: 0;
    width: 260px;
  }

  .wares__photo-container {
    width: 316px;
    height: 462px;
  }

  .wares__photo {
    width: 316px;
    height: 462px;
  }
}
