.weekly-item {
  position: relative;

  width: 100%;
  padding: 28px 0;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.weekly-item__title {
  margin-bottom: 7px;
}

.weekly-item__label {
  display: block;
  margin-bottom: 25px;

  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
}

.weekly-item__description {
  margin: 0;
  margin-bottom: 17px;

  color: $second-color;
  font-size: 15px;
  line-height: 24px;
}

.weekly-item__info {
  width: 260px;
}

.weekly-item__parameters-list {
  margin-bottom: 28px;
  width: 260px;
}

.weekly-item__photo-container {
  width: 260px;
  height: 315px;
  margin-bottom: 27px;
}

.weekly-item__photo {
  width: 260px;
  height: 315px;
}

.weekly-item__price {
  margin: 0;
  margin-bottom: 30px;
  width: 260px;

  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.weekly-item__buy-button {
  box-sizing: border-box;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .weekly-item {
    padding: 50px 0;
  }

  .weekly-item__container {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .weekly-item__title {
    width: 450px;
    margin-bottom: 50px;
    order: 0;
  }

  .weekly-item__label {
    max-width: 110px;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0 10px;
    order: 1;

    text-align: center;
    line-height: 17px;
  }

  .weekly-item__info {
    width: 300px;
    order: 2;
  }

  .weekly-item__description {
    line-height: 30px;

    width: 290px;
    margin-bottom: 45px;
  }

  .weekly-item__parameters-list {
    width: 290px;
    margin-bottom: 60px;
  }

  .weekly-item__photo-container {
    position: absolute;
    top: 110px;
    right: 50px;

    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .weekly-item__photo {
    width: 333px;
    height: 404px;
  }

  .weekly-item__price {
    width: 290px;
    margin-bottom: 35px;

    text-align: center;
  }

  .weekly-item__buy-button {
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-item {
    padding: 120px 0;
  }

  .weekly-item__title {
    position: relative;
    z-index: 1;

    width: 700px;
    margin-right: auto;
    margin-left: 30px;
    order: 1;
  }

  .weekly-item__label {
    margin-left: 35px;
    order: 0;
  }

  .weekly-item__info {
    margin-left: 200px;
  }

  .weekly-item__description {
    margin-bottom: 55px;

    font-size: 17px;
  }

  .weekly-item__parameters-list {
    margin-bottom: 110px;
  }

  .weekly-item__photo-container {
    top: -50px;
    right: 50px;

    width: 525px;
    height: 636px;
  }

  .weekly-item__photo {
    width: 525px;
    height: 636px;
  }

  .weekly-item__price {
    margin-bottom: 33px;
  }
}
