.weekly-item {
  position: relative;

  padding: 30px 30px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__label {
    display: block;
    margin-bottom: 22px;

    color: #63d1bb;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
  }

  &__description {
    margin: 0;
    margin-bottom: 25px;

    color: $second-color;
    font-size: 15px;
    line-height: 24px;
  }

  &__parameters-list {
    margin-bottom: 28px;
    width: 260px;
  }

  &__photo-container {
    width: 260px;
    height: 315px;
    margin-bottom: 20px;
  }

  &__photo {
    width: 260px;
    height: 315px;
  }

  &__price {
    margin: 0;
    margin-bottom: 30px;

    text-align: center;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }
}

@media (min-width: $tablet-width) {
  .weekly-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 30px;

    &__title {
      width: 450px;
      margin-bottom: 50px;
      order: 0;
    }

    &__label {
      max-width: 110px;
      margin-bottom: 0;
      padding: 0 10px;
      order: 1;

      text-align: center;
    }

    &__info {
      width: 300px;
      order: 2;
    }

    &__description {
      line-height: 30px;

      max-width: 290px;
      margin-bottom: 45px;
    }

    &__parameters-list {
      width: 290px;
      margin-bottom: 60px;
    }

    &__photo-container {
      position: absolute;
      top: 140px;
      right: 50px;

      width: 333px;
      height: 404px;
    }

    &__photo {
      width: 333px;
      height: 404px;
    }

    &__price {
      width: 290px;
      margin-bottom: 35px;

      text-align: center;
    }

    &__buy-button {
      width: 292px;
    }
  }
}
